*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 225, 229);
    text-align: center;
    line-height: 2.2;
}

.hero{
    padding: 20px 10px;
}

.hero img{
    border-radius:  50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px;
}

.hero h2{
    font-size: 37px;
}

.accent{
    color: rgb(242, 130, 180);
}

.grid{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid div{
    padding: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    width: 90px;
}


@media (max-width: 768px){
    body{background-color: rgb(200, 243, 243);}
}